<ion-header>
  <ion-toolbar>
    <ion-title>Sales Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Pull to Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-circle-outline"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let order of orders">
      <ion-label>
        <h2>Order #{{ order.orderId }}</h2>
        <p>Date: {{ order.orderDate }}</p>
        <p>Status: {{ order.status }}</p>
        <p>Customer: {{ order.orderedBy }}</p>
        <p>Lines: {{ order.lines }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
